body{
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.meni {

display:inline-block;
width: 100px;
text-align: center;
margin: 5px;
margin-left:240px;
padding: 3px 0 0 10px;
border-bottom: 5px solid #4A4949;
border-left: 8px solid #878282;
border-right: 4px solid #373535;


}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

.Welcome{
	font-style: italic;
}

#main-header{
	background-color:#403E3E;
	color:#fff;
}

#navbar{
	background-color:grey;
	color:#fff;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
	display:inline-block;
	width: 100px;
	text-align: center;
	
	margin-left:130px;
	padding: 3px 0 0 10px;
	border-bottom: 5px solid #4A4949;
	border-left: 8px solid #878282;
	border-right: 4px solid #373535;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

#showcase{
	background-image:url('../slike/slika1.jpg');
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
}

#showcase h1{
	color:#fff;
	font-size:50px;
	line-height: 1.6em;
	padding-top:30px;
}

#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
}

#sidebar{
	float:right;
	width:30%;
	background: #333;
	color:#fff;
	padding:10px;
	box-sizing: border-box;
}

#main-footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:40px;
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}

#projekti{
	margin: 15px;
	font-style: italic;
	color: black;
}

#projekti li{
	color: black;
	text-decoration: none;
	transition-delay: inherit;
}