body {

      background-image:url("slika4.jpg");
      font-family: Sans-Serif;
}

#projekti,#omeni,kontakt {

border-style: solid;
border-color: black;
border-width: 0.5mm;
font-size: 1.2em;

}

ol {

font-size:1.2em;

}

.bankomat {

position: relative;

}

.biblioteka {

position: relative;

}

.meni a{


list-style: none;
text-decoration: none;

}

.meni li:hover {

background-color:#706D6D;

}

.meni li {

display:inline-block;
width: 100px;
text-align: center;
margin: 5px;
margin-left:240px;
padding: 3px 0 0 10px;
border-bottom: 5px solid #4A4949;
border-left: 8px solid #878282;
border-right: 4px solid #373535;


}

a {

color:black;

}

.listaprojekata a {

text-decoration: none;

}

.ime {

margin-left: 30px;
font-family: Times New Roman, italic;
}


.slikamoja {

}

.slikaime {

position:relative;
left: 43%;
top: 40px;

}

.linija {

color: black;

}

.text {

padding: 7px;

}